<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TITLE</title>
    @* LINKS *@
        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="~/Template1/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/Template1/css/fontawesome-5-all.min.css">
        <link rel="stylesheet" href="~/Template1/css/font-awesome.min.css">
        <!-- ARCHIVES CSS -->
        <link rel="stylesheet" href="~/Template1/css/animate.css">
        <link rel="stylesheet" href="~/Template1/css/magnific-popup.css">
        <link rel="stylesheet" href="~/Template1/css/lightcase.css">
        <link rel="stylesheet" href="~/Template1/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Template1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Template1/css/menu.css">
        <link rel="stylesheet" href="~/Template1/css/slick.css">
        <link rel="stylesheet" href="~/Template1/css/styles.css">
        <link rel="stylesheet" id="color" href="~/Template1/css/default.css">
</head>
<body>
@* HEADER *@
        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="header head-tr" style="line-height: unset;font-weight: 700;position: unset">
            <!-- Header -->
            <div id="header" class="head-tr bottom">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="~/"><img src="~/Template1/images/logo-white-1.svg" 
                                                      data-sticky-logo="images/logo-red.svg"
                                                      alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr">
                            <ul id="responsive">
                                <li><a href="~/" style="color: @(ViewBag.NavBarLinkColor ?? "black !important")">Anasayfa</a>
                                    <li><a href="~/list" style="color: @(ViewBag.NavBarLinkColor ?? "black !important")">İlanlar</a></li>
                                <li><a href="~/contactus" style="color: @(ViewBag.NavBarLinkColor ?? "black !important")">Hakkımızda</a></li>
                                <li><a href="~/contactusnew" style="color: @(ViewBag.NavBarLinkColor ?? "black !important")">Bize Ulaşın</a></li>
                                <li><a href="~/gallery" style="color: @(ViewBag.NavBarLinkColor ?? "black !important")">Galeri</a></li>
                                <li><a href="~/takim" style="color: @(ViewBag.NavBarLinkColor ?? "black !important")">Takım</a></li>

                                    </ul>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->

                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                        <!-- Header Widget -->
                        <div class="header-widget sign-in">
                            <div class="show-reg-form modal-open"><a href="#" style="font-size: 15px;color: black !important;">+550 690 50 50</a></div>
                        </div>
                        <!-- Header Widget / End -->
                    </div>
                    <!-- Right Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0" style="margin-right:0px;border-right:unset;">
                                            <!-- Header Widget -->
                                            <div class="header-widget sign-in">
                                                <div class="show-reg-form modal-open"><a href="#" style="color: @(ViewBag.RightSideColor ?? "black !important") ">Admin Girişi</a></div>
                                            </div>
                                            <!-- Header Widget / End -->
                                        </div>
                    <!-- Right Side Content / End -->

              
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
@RenderBody()
    <!-- START FOOTER -->
   <footer class="first-footer">
                  <div class="top-footer">
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-9 col-md-6">
                                  <div class="netabout">
                                      <a href="index.html" class="logo">
                                          <img src="~/Template1/images/tunca-logo.png" alt="netcom">
                                      </a>
                                      <p>Marmara’nın her geçen gün gelişmekte olan Kocaeli İlinde Gayrimenkul Danışmanlığı alanında güvenli, objektif ve kaliteli bir şekilde işlemlerinizi sonuçlandırmaktan gurur duyarız.
                                         İzmit’te bulunmakta olan genel merkezimizde profesyonel kadromuz genç ve dinamik ekibimizle sorunlarınıza hızlı ve kaliteli çözüm sağlıyoruz.</p>
                                  </div>
                                  @* <div class="contactus"> *@
                                  @*     <ul> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-map-marker" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p">95 South Park Avenue, USA</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-phone" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p">+456 875 369 208</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*         <li> *@
                                  @*             <div class="info"> *@
                                  @*                 <i class="fa fa-envelope" aria-hidden="true"></i> *@
                                  @*                 <p class="in-p ti">supportfindhouses.com</p> *@
                                  @*             </div> *@
                                  @*         </li> *@
                                  @*     </ul> *@
                                  @* </div> *@
                              </div>
                              
                              
                              
                          <div class="col-lg-3 col-md-6 d-flex justify-content-center align-items-center">
                                  <div class="netabout">
                                      
                                      @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam, perspiciatis, aspernatur officiis esse.</p> *@
                                  </div>
                                  <div class="contactus">
                                      <ul>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                  <p class="in-p">Karabaş Mah. Köseoğlu Sk. No:21/A
                                                                  İzmit/KOCAELİ</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                                  <p class="in-p">(0262) 323 8919</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="info">
                                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                                  <p class="in-p ti">info@tuncagayrimenkul.com</p>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div></div>
                      </div>
                  </div>
                  <div class="second-footer">
                      <div class="container">
                          <p>2021 © Copyright - Tüm hakları Tuncagayrimenkule aittir.</p>
                          <ul class="netsocials">
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </footer>
        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>