@using Data.Entities.Models;
@using DataAccess.Context;
@model Data.Entities.Models.Advert
@{
    Layout = null;

    List<ExtraAttribute> extraAttributes1;
    List<int> extraAttributes2;
    
    var imagePath = Model.ImageFile.ImagePath;
    var webPath = imagePath?.Split("wwwroot\\")[1];
    var advertId = (int) ViewBag.Id;
    using (var db = new ApplicationDbContext())
    {
        extraAttributes1 = db.ExtraAttributess.ToList();

        extraAttributes2 = db.AdvertExtraAttributess.Where(x => x.AdvertId == advertId).Select(x => x.ExtraAttributeId).ToList();
    }
}
<h4>@ViewBag.Test</h4>
<form action="/admin/UpdateAdvertApi" method="POST" enctype="multipart/form-data">
    <div class="modal-body" style="">
        <input id="EditUserId" type="hidden" class="form-control" name="Id" value="@Model.Id">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Title">İlan başlığı</label>
                <div class="mb-1">
                    <input id="EditUsername" type="text" placeholder="İlan Adı" class="form-control" asp-for="Title">
                </div>
                <label asp-for="Description">İlan Açıklaması </label>
                <div class="mb-1">
                    <input id="EditName" type="text" placeholder="İlan Açıklaması" class="form-control" asp-for="Description">
                </div>
                <label>Şehir</label>
                <div class="mb-1">
                    <Select type="text" placeholder="İl" class="form-control" asp-for="Location"
                            asp-items="Html.GetEnumSelectList<LocationEnum>()">
                    </Select>
                </div>
                <label asp-for="District">İlçe </label>
                <div class="mb-1">
                    <input id="" type="text" placeholder="İlçe" class="form-control" asp-for="District">
                </div>

                <label asp-for="HouseType">Ev Tipi </label>
                <div class="mb-1">
                    <Select type="text" placeholder="Telefon Numarası" class="form-control" asp-for="HouseType"
                            asp-items="Html.GetEnumSelectList<HouseTypeEnum>()">
                    </Select>
                </div>
                <label asp-for="AdvertType">İlan Tipi</label>
                <div class="mb-1">
                    <Select type="text" placeholder="İlan Tipi" class="form-control" asp-for="AdvertType"
                            asp-items="Html.GetEnumSelectList<AdvertTypeEnum>()">
                    </Select>
                </div>
                <label asp-for="BedroomNumber">Yatak odası sayısı</label>
                <div class="mb-1">
                    <input type="text" placeholder="Telefon Numarası" class="form-control" asp-for="BedroomNumber">
                </div>
                <label asp-for="BathroomNumber">Banyo sayısı</label>
                <div class="mb-1">
                    <input type="number" placeholder="Banyo Sayısı" class="form-control" asp-for="BathroomNumber">
                </div>
            </div>
            <div class="col-md-6">

                <label asp-for="Meters">Metre kare</label>
                <div class="mb-1">
                    <input type="number" placeholder="Metre Kare" class="form-control" asp-for="Meters">
                </div>
                <label asp-for="Price">Fiyatı</label>
                <div class="mb-1">
                    <input type="number" placeholder="Fiyatı" class="form-control" asp-for="Price">
                </div>
                <label asp-for="IsFeatured">Öne Çıkarılan İlan ?</label>
                <div class="mb-1">
                    <input type="checkbox"
                           asp-for="IsFeatured"/>
                </div>
                <div class="mb-1">
                    <label class="control-label">Özellikler</label>
                    <Select id="extraAttributesSelect2" name="ExtraAttributeIds[]" type="text" placeholder="Ekstra Özellikler" class="form-control" multiple="multiple">
                        @foreach (var item in extraAttributes1)
                        {
                            @if (extraAttributes2.Contains(item.Id))
                            {
                                <option selected value="@item.Id">@item.AttributeName</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.AttributeName</option>
                            }
                        }
                    </Select>
                </div>
                <label asp-for="ImageFile.ImageName" class="control-label">
                    <strong>Eski Resimin adı: <br/> @Model.ImageFile.ImageName</strong>
                </label>

                <div class="mb-1">
                    <label class="control-label">Mevcut Resim</label>
                    <img src="@Url.Content($"~/{webPath}")" alt="Mevcut Resim" style="width: 100px; height: 100px;"/> <!-- Mevcut resmi gösterir -->
                </div>


                <div class="mb-1">
                    <label asp-for="ImageFile.ImageFile" class="control-label">Yeni Resim Yükle(Eski resimi siler)</label>
                    <input asp-for="ImageFile.ImageFile" accept="image/*"/>
                    <span asp-validation-for="ImageFile.ImageFile" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>


    <div class="d-flex justify-content-around">
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary waves-effect waves-float waves-light" data-bs-dismiss="modal">Düzenle</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect waves-float waves-light" data-bs-dismiss="modal">İptal</button>
        </div>
    </div>

</form>

<script>

    //function showTime() {

    //    console.log($`extraAttributes`)
    //}


    $(document).ready(function () {
        console.log("ASDFASDFAS")
        $('#extraAttributesSelect2').select2();

    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}