@using Data.Entities.Models
@model IList<UserEntity>

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="html 5 template">
    <meta name="author" content="">
    <title>Find Houses - HTML5 Template</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
   
    <div class="app-content content ">
        <button type="button" class="btn btn-outline-primary waves-effect" id="confirm-text">Confirm Text</button>
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">İlanlar</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Anasayfa</a>
                                    </li>
                                    <li class="breadcrumb-item active">İlanlar
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="content-body">
                <!-- Kick start -->
                <div class="card">
                    <div class="card-header">
                       
                        <h4 class="card-title">İlanlar Tablosu</h4>
                    </div>
                    <div class="card-body">
                        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kullanıcı Adı</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Email</th>
                <th>Telefon Numarası</th>
                <th>Onaylandı mı?</th>
                <th>Oluşturulma Tarihi</th>
                <th>Eylemler</th>
            </tr>
        </thead>
        <tbody>
             @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Email</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td><button type="button" class="btn btn-outline-primary waves-effect" id="confirm-text">Confirm Text</button></td>

                        <td></td>
                    </tr>
                }
           
        </tfoot>
    </table>
                    </div>
                </div>
                <!--/ Kick start -->

            </div>
        </div>
    </div>

    @section Scripts {

       <script>
          $(document).ready(function() {
    var table = $('#example').DataTable({
        destroy: true,
        select: true,

        dom: 'Bfrtip',
        buttons: [{
                extend: 'copy',
                className: 'copyButton'
            },
            {
                extend: 'csv',
                className: 'csvButton'
            },
            {
                extend: 'excel',
                className: 'excelButton'
            },
            {
                extend: 'print',
                className: 'printButton'
            }
        ],
        columnDefs: [{
                target: 0,
                visible: false,
                searchable: false,
            },
            {
                targets: 8,
                data: null,
                defaultContent: '<button id="confirm-text" type="button" class="btn btn-outline-primary waves-effect"  style="padding:1.5px 2.5px">' +
                    '<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>' +
                    '<span> Onayla</span>' +
                    '</button>' +
                    '<button type="button" class="btn btn-outline-primary waves-effect" style="padding:1.5px 2.5px">' +
                    '<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>' +
                    '<span>Düzenle</span>' +
                    '</button>' +
                    '<button id="confirm-text" type="button" class="btn btn-outline-primary waves-effect" style="padding:1.5px 2.5px">' +
                    '<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home me-25"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>' +
                    '<span>Sil</span>' +
                    '</button>' +
                    '<button type="button" class="btn btn-outline-primary waves-effect" id="confirm-text">Confirm Text</button>'
            },
        ],
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json',
        },
    });
});
</script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/AdminTemplate2/vendors/js/extensions/sweetalert2.all.min.js"></script>
    <script src="~/AdminTemplate2/vendors/js/extensions/polyfill.min.js"></script>
    <!-- END: Page Vendor JS-->

}
 
</body>

</html>
